<html>
<body>

	<header><%= link_to "Gr8pic", root_path %></header><br />
	
	<h1>Upload your photo. Browse & rate the rest. (best below)</h1>

	<div class="main_container"> <!--main container for rate button
main picture, and upload button -->
			
		<li><div class="button"> <%= link_to "RATE", new_rating_path %> </div></li>
		<li><div>
			<% if @winning_photo.nil? %>
				<p>No photo yet</p>
			<% else %> 
				 <%= link_to image_tag(@winning_photo.image.url), new_rating_path %>
			<% end %>
			 <!--PLACEHOLDER image_tag("http://gr8pic.com/pictures/cat_picture.jpeg")-->
		</div></li>
		<li><div class="button"><%= link_to "UPLOAD", new_photo_path %></div></li>
		
	</div>

</body>
</html>