<% unless current_user.nil? %>
	<h1>Upload a Photo</h1>

	<%= form_for(@photo, :html => { :multipart => true }) do |f| %>
		<%= f.filepicker_field :image %> <!--changed from file_fiel-->
		<%= f.submit "Upload" %>
	<% end %>
	
	<br />
	<p>Want more space on gr8pic? Get a <a href="http://db.tt/6Rmkgg79">dropbox</a> account.</p>
<% else %>
	<%= render "signup_form" %>
<% end %>

<!-- render "signup_form" -->